html, body {
  overflow-x: hidden;
}

body {
  background: #f5f5f5;
  line-height: 24px;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header {
  background-color: white;
  line-height: 70px;
  padding: 0px 60px;
  height: 70px;
  color: #232323;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.header__title {
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  float: left;
}
.header__btn-action {
  position: absolute;
  bottom: -30px;
  right: 60px;
  z-index: 99;
  background-color: #7c4dff;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: white;
  font-size: 32px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  line-height: 60px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.13), 0 6px 10px rgba(0, 0, 0, 0.3);
}
.header__btn-menu {
  display: none;
  float: right;
  text-decoration: none;
  margin-right: 110px;
}
.header .nav-main {
  float: right;
  padding-right: 50px;
}
.header .nav-main .list-unstyled {
  padding-left: 0px;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 10px;
}
.header .nav-main .list-unstyled li {
  padding: 0px;
  display: inline-block;
  margin-left: -4px;
  margin-bottom: 0px;
}
.header .nav-main .list-unstyled li a {
  padding: 0 20px;
  display: inline-block;
  line-height: 70px;
  height: 70px;
  border-bottom: 5px solid transparent;
}
.header .nav-main .list-unstyled li a:hover {
  border-color: #7c4dff;
  text-decoration: none;
}

.section-nav {
  position: fixed;
  bottom: 80px;
  right: 60px;
  z-index: 9;
}
.section-nav a {
  display: block;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 36px;
  border-radius: 100%;
  background: #000;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.13), 0 6px 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}
.section-Home {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 72px 12px;
  height: auto;
  overflow: hidden;
  position: static;
  word-wrap: break-word;
  padding-bottom: 0px;
}
.section-Home .info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 683px;
}
.section-Home .info-section h1 {
  font-size: 50px;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #232323;
}
.section-Home .info-section .btn-container {
  display: flex;
  text-transform: uppercase;
}
.section-Home .info-section .btn-container .btn {
  font-size: 15px;
  line-height: 26px;
  padding: 11px 29px;
  border: none;
  border-radius: 3px;
  margin-right: 32px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 32px;
}
.section-Home .info-section .btn-container .btn__white {
  background-color: white;
  color: #232323;
}
.section-Home .info-section .btn-container .btn__purple {
  background-color: #7c4dff;
  color: white;
}
.section-Home .img-section {
  max-width: 487px;
}
.section-Home .img-section__img-responsive {
  display: block;
  max-height: 650px;
  margin: 0 auto;
  height: auto;
}

.section-AboutMe {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 72px 12px;
  padding-bottom: 0px;
}
.section-AboutMe__image {
  width: 100%;
  height: auto;
  width: 100%;
  max-width: 248px;
  max-height: 905px;
}
.section-AboutMe .info-section__name {
  margin-bottom: 6px;
}
.section-AboutMe .info-section .signature {
  border-bottom: 2px dashed #232323;
  position: relative;
  margin: 0 18px;
  padding-bottom: 12px;
  margin-bottom: 24px;
}
.section-AboutMe .info-section .signature::before {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 4px solid #7c4dff;
  border-radius: 100%;
  position: absolute;
  left: -18px;
  bottom: -7px;
}
.section-AboutMe .info-section .signature::after {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 4px solid #7c4dff;
  border-radius: 100%;
  position: absolute;
  right: -18px;
  bottom: -7px;
}
.section-AboutMe .info-section .list-unstyled li {
  margin-bottom: 12px;
}
.section-AboutMe .info-section .todoHeader {
  margin-top: 48px;
}
.section-AboutMe .info-section .service {
  background: #fff;
  text-align: center;
  padding: 48px 0;
  color: #232323;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  margin-bottom: 24px;
}
.section-AboutMe .info-section .service .icon {
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 24px;
}

.section {
  width: 100%;
  padding: 72px 12px;
  padding-bottom: 0px;
}
.section .container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0px auto;
}
.section .container .education {
  padding: 132px 0;
  margin: 72px 0;
}
.section .container .education .info-degree {
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
}
.section .container .education .info-degree .marker {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  background: #fff;
  border: 6px solid #7c4dff;
  position: absolute;
  left: 50%;
  margin-left: -11px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.section .container .education .info-degree .card {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 24px;
  position: absolute;
  color: #232323;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 12px;
}
.section .container .education .info-degree .card span {
  font-size: 13px;
  line-height: 26px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.section .container .education .info-degree .card h4 {
  margin: 0px;
}
.section .container .education .info-degree .card::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 0 0 18px;
  border-color: transparent transparent transparent #fff;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -9px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.section .container .education .info-degree .year {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  position: relative;
  bottom: -44px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.section .container .education .info-degree:nth-child(even) .card {
  top: 40px;
  position: relative;
}
.section .container .education .info-degree:nth-child(even) .card::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 0 0 18px;
  border-color: transparent transparent transparent #fff;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -9px;
  z-index: 99;
  left: 50%;
  margin-left: -9px;
  transform: rotate(135deg);
}
.section .container .education .info-degree:nth-child(even) .card::after {
  display: none;
}
.section .container .education .info-degree:nth-child(even) .year {
  top: -40px;
  position: absolute;
}
.section .container .education .time-line {
  border-bottom: 1px dashed #232323;
  position: relative;
  margin: 0 18px;
  padding-bottom: 12px;
  margin-bottom: 24px;
  position: relative;
  top: -1px;
}
.section .container .education .time-line::before {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  box-sizing: border-box;
  border: 4px solid #7c4dff;
  border-radius: 100%;
  position: absolute;
  left: -18px;
  bottom: -7px;
}
.section .container .education .time-line::after {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  box-sizing: border-box;
  border: 4px solid #7c4dff;
  border-radius: 100%;
  position: absolute;
  right: -18px;
  bottom: -7px;
}
.section .container .hobbies {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section .container .hobbies .icon-box {
  width: 17%;
  text-align: center;
  color: #232323;
}
.section .container .hobbies .icon-box .iconcard {
  display: inline-block;
}
.section .container .hobbies .icon-box .iconcard .icon {
  height: 100px;
  width: 100px;
  margin-bottom: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  background-color: white;
  font-size: 48px;
  transition: background-color 0.5s;
  cursor: pointer;
  line-height: 100px;
  display: inline-block;
}
.section .container .hobbies .icon-box .iconcard h5 {
  margin-top: 10px;
}
.section .container .hobbies .icon-box:hover .iconcard .icon {
  background-color: #7c4dff;
  color: white;
}

.skill {
  padding: 72px 12px;
  padding-bottom: 0px;
}
.skill .container {
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
}
.skill .container h3 {
  width: 100%;
  margin-top: 0px;
}
.skill .container h4 {
  margin-bottom: 24px;
  margin-top: 0px;
  width: 100%;
}
.skill .container label {
  display: inline-block;
  margin: 0px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #232323;
}
.skill .container .technical {
  width: 50%;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 48px;
}
.skill .container .technical .technical__info {
  margin-bottom: 20px;
  width: 100%;
}
.skill .container .technical .technical__info .progressbar {
  width: 100%;
  height: 8px;
  background-color: lightgrey;
  display: flex;
}
.skill .container .technical .technical__info .progressbar .active {
  width: 85%;
  background-color: #7c4dff;
  flex-shrink: 0;
}
.skill .container .technical .technical__info .progressbar .button {
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  transform: translate(-15px, -15px);
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  flex-shrink: 0;
}
.skill .container .technical .technical__info .progresssbar--wordpress .active {
  width: 85%;
}
.skill .container .technical .technical__info .progresssbar--photoshop .active {
  width: 99%;
}
.skill .container .technical .technical__info .progresssbar--html .active {
  width: 75%;
}
.skill .container .technical .technical__info .progresssbar--javascript .active {
  width: 67%;
}
.skill .container .knowledge {
  width: 50%;
  padding: 0px 15px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-bottom: 48px;
}
.skill .container .knowledge .cell {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  width: 50%;
  box-sizing: border-box;
  padding-left: 36px;
}
.skill .container .knowledge .cell .icon {
  color: #7c4dff;
  width: 36px;
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 0px;
}
.skill .container .language {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.skill .container .language .w-33 {
  width: 415px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 48px;
}
.skill .container .language .w-33 .wrapper {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  font-size: 190px;
  background: lightgrey;
  margin-bottom: 20px;
}
.skill .container .language .w-33 .wrapper span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #cccccc;
  display: block;
  text-align: center;
  white-space: nowrap;
}
.skill .container .language .w-33 .wrapper .slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0em, 1em, 1em, 0.5em);
}
.skill .container .language .w-33 .wrapper .slice .inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 78px;
  height: 78px;
  transform: translate(-39px, -39px);
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 78px;
  z-index: 100;
  font-size: 24px;
}
.skill .container .language .w-33 .wrapper::after {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: white;
  width: 190px;
  height: 190px;
}
.skill .container .language .w-33 .wrapper .rect-auto, .skill .container .language .w-33 .wrapper.p100 .slice, .skill .container .language .w-33 .wrapper.p99 .slice, .skill .container .language .w-33 .wrapper.p98 .slice, .skill .container .language .w-33 .wrapper.p97 .slice, .skill .container .language .w-33 .wrapper.p96 .slice, .skill .container .language .w-33 .wrapper.p95 .slice, .skill .container .language .w-33 .wrapper.p94 .slice, .skill .container .language .w-33 .wrapper.p93 .slice, .skill .container .language .w-33 .wrapper.p92 .slice, .skill .container .language .w-33 .wrapper.p91 .slice, .skill .container .language .w-33 .wrapper.p90 .slice, .skill .container .language .w-33 .wrapper.p89 .slice, .skill .container .language .w-33 .wrapper.p88 .slice, .skill .container .language .w-33 .wrapper.p87 .slice, .skill .container .language .w-33 .wrapper.p86 .slice, .skill .container .language .w-33 .wrapper.p85 .slice, .skill .container .language .w-33 .wrapper.p84 .slice, .skill .container .language .w-33 .wrapper.p83 .slice, .skill .container .language .w-33 .wrapper.p82 .slice, .skill .container .language .w-33 .wrapper.p81 .slice, .skill .container .language .w-33 .wrapper.p80 .slice, .skill .container .language .w-33 .wrapper.p79 .slice, .skill .container .language .w-33 .wrapper.p78 .slice, .skill .container .language .w-33 .wrapper.p77 .slice, .skill .container .language .w-33 .wrapper.p76 .slice, .skill .container .language .w-33 .wrapper.p75 .slice, .skill .container .language .w-33 .wrapper.p74 .slice, .skill .container .language .w-33 .wrapper.p73 .slice, .skill .container .language .w-33 .wrapper.p72 .slice, .skill .container .language .w-33 .wrapper.p71 .slice, .skill .container .language .w-33 .wrapper.p70 .slice, .skill .container .language .w-33 .wrapper.p69 .slice, .skill .container .language .w-33 .wrapper.p68 .slice, .skill .container .language .w-33 .wrapper.p67 .slice, .skill .container .language .w-33 .wrapper.p66 .slice, .skill .container .language .w-33 .wrapper.p65 .slice, .skill .container .language .w-33 .wrapper.p64 .slice, .skill .container .language .w-33 .wrapper.p63 .slice, .skill .container .language .w-33 .wrapper.p62 .slice, .skill .container .language .w-33 .wrapper.p61 .slice, .skill .container .language .w-33 .wrapper.p60 .slice, .skill .container .language .w-33 .wrapper.p59 .slice, .skill .container .language .w-33 .wrapper.p58 .slice, .skill .container .language .w-33 .wrapper.p57 .slice, .skill .container .language .w-33 .wrapper.p56 .slice, .skill .container .language .w-33 .wrapper.p55 .slice, .skill .container .language .w-33 .wrapper.p54 .slice, .skill .container .language .w-33 .wrapper.p53 .slice, .skill .container .language .w-33 .wrapper.p52 .slice, .skill .container .language .w-33 .wrapper.p51 .slice {
  clip: rect(auto, auto, auto, auto);
}
.skill .container .language .w-33 .wrapper .pie, .skill .container .language .w-33 .wrapper.p100 .fill, .skill .container .language .w-33 .wrapper.p99 .fill, .skill .container .language .w-33 .wrapper.p98 .fill, .skill .container .language .w-33 .wrapper.p97 .fill, .skill .container .language .w-33 .wrapper.p96 .fill, .skill .container .language .w-33 .wrapper.p95 .fill, .skill .container .language .w-33 .wrapper.p94 .fill, .skill .container .language .w-33 .wrapper.p93 .fill, .skill .container .language .w-33 .wrapper.p92 .fill, .skill .container .language .w-33 .wrapper.p91 .fill, .skill .container .language .w-33 .wrapper.p90 .fill, .skill .container .language .w-33 .wrapper.p89 .fill, .skill .container .language .w-33 .wrapper.p88 .fill, .skill .container .language .w-33 .wrapper.p87 .fill, .skill .container .language .w-33 .wrapper.p86 .fill, .skill .container .language .w-33 .wrapper.p85 .fill, .skill .container .language .w-33 .wrapper.p84 .fill, .skill .container .language .w-33 .wrapper.p83 .fill, .skill .container .language .w-33 .wrapper.p82 .fill, .skill .container .language .w-33 .wrapper.p81 .fill, .skill .container .language .w-33 .wrapper.p80 .fill, .skill .container .language .w-33 .wrapper.p79 .fill, .skill .container .language .w-33 .wrapper.p78 .fill, .skill .container .language .w-33 .wrapper.p77 .fill, .skill .container .language .w-33 .wrapper.p76 .fill, .skill .container .language .w-33 .wrapper.p75 .fill, .skill .container .language .w-33 .wrapper.p74 .fill, .skill .container .language .w-33 .wrapper.p73 .fill, .skill .container .language .w-33 .wrapper.p72 .fill, .skill .container .language .w-33 .wrapper.p71 .fill, .skill .container .language .w-33 .wrapper.p70 .fill, .skill .container .language .w-33 .wrapper.p69 .fill, .skill .container .language .w-33 .wrapper.p68 .fill, .skill .container .language .w-33 .wrapper.p67 .fill, .skill .container .language .w-33 .wrapper.p66 .fill, .skill .container .language .w-33 .wrapper.p65 .fill, .skill .container .language .w-33 .wrapper.p64 .fill, .skill .container .language .w-33 .wrapper.p63 .fill, .skill .container .language .w-33 .wrapper.p62 .fill, .skill .container .language .w-33 .wrapper.p61 .fill, .skill .container .language .w-33 .wrapper.p60 .fill, .skill .container .language .w-33 .wrapper.p59 .fill, .skill .container .language .w-33 .wrapper.p58 .fill, .skill .container .language .w-33 .wrapper.p57 .fill, .skill .container .language .w-33 .wrapper.p56 .fill, .skill .container .language .w-33 .wrapper.p55 .fill, .skill .container .language .w-33 .wrapper.p54 .fill, .skill .container .language .w-33 .wrapper.p53 .fill, .skill .container .language .w-33 .wrapper.p52 .fill, .skill .container .language .w-33 .wrapper.p51 .fill, .skill .container .language .w-33 .wrapper .bar {
  position: absolute;
  border: 5px solid #7c4dff;
  width: 190px;
  height: 190px;
  clip: rect(0em, 100px, 200px, 0em);
  border-radius: 50%;
  transform: rotate(0deg);
}
.skill .container .language .w-33 .wrapper .pie-fill, .skill .container .language .w-33 .wrapper.p100 .fill, .skill .container .language .w-33 .wrapper.p100 .bar:after, .skill .container .language .w-33 .wrapper.p99 .fill, .skill .container .language .w-33 .wrapper.p99 .bar:after, .skill .container .language .w-33 .wrapper.p98 .fill, .skill .container .language .w-33 .wrapper.p98 .bar:after, .skill .container .language .w-33 .wrapper.p97 .fill, .skill .container .language .w-33 .wrapper.p97 .bar:after, .skill .container .language .w-33 .wrapper.p96 .fill, .skill .container .language .w-33 .wrapper.p96 .bar:after, .skill .container .language .w-33 .wrapper.p95 .fill, .skill .container .language .w-33 .wrapper.p95 .bar:after, .skill .container .language .w-33 .wrapper.p94 .fill, .skill .container .language .w-33 .wrapper.p94 .bar:after, .skill .container .language .w-33 .wrapper.p93 .fill, .skill .container .language .w-33 .wrapper.p93 .bar:after, .skill .container .language .w-33 .wrapper.p92 .fill, .skill .container .language .w-33 .wrapper.p92 .bar:after, .skill .container .language .w-33 .wrapper.p91 .fill, .skill .container .language .w-33 .wrapper.p91 .bar:after, .skill .container .language .w-33 .wrapper.p90 .fill, .skill .container .language .w-33 .wrapper.p90 .bar:after, .skill .container .language .w-33 .wrapper.p89 .fill, .skill .container .language .w-33 .wrapper.p89 .bar:after, .skill .container .language .w-33 .wrapper.p88 .fill, .skill .container .language .w-33 .wrapper.p88 .bar:after, .skill .container .language .w-33 .wrapper.p87 .fill, .skill .container .language .w-33 .wrapper.p87 .bar:after, .skill .container .language .w-33 .wrapper.p86 .fill, .skill .container .language .w-33 .wrapper.p86 .bar:after, .skill .container .language .w-33 .wrapper.p85 .fill, .skill .container .language .w-33 .wrapper.p85 .bar:after, .skill .container .language .w-33 .wrapper.p84 .fill, .skill .container .language .w-33 .wrapper.p84 .bar:after, .skill .container .language .w-33 .wrapper.p83 .fill, .skill .container .language .w-33 .wrapper.p83 .bar:after, .skill .container .language .w-33 .wrapper.p82 .fill, .skill .container .language .w-33 .wrapper.p82 .bar:after, .skill .container .language .w-33 .wrapper.p81 .fill, .skill .container .language .w-33 .wrapper.p81 .bar:after, .skill .container .language .w-33 .wrapper.p80 .fill, .skill .container .language .w-33 .wrapper.p80 .bar:after, .skill .container .language .w-33 .wrapper.p79 .fill, .skill .container .language .w-33 .wrapper.p79 .bar:after, .skill .container .language .w-33 .wrapper.p78 .fill, .skill .container .language .w-33 .wrapper.p78 .bar:after, .skill .container .language .w-33 .wrapper.p77 .fill, .skill .container .language .w-33 .wrapper.p77 .bar:after, .skill .container .language .w-33 .wrapper.p76 .fill, .skill .container .language .w-33 .wrapper.p76 .bar:after, .skill .container .language .w-33 .wrapper.p75 .fill, .skill .container .language .w-33 .wrapper.p75 .bar:after, .skill .container .language .w-33 .wrapper.p74 .fill, .skill .container .language .w-33 .wrapper.p74 .bar:after, .skill .container .language .w-33 .wrapper.p73 .fill, .skill .container .language .w-33 .wrapper.p73 .bar:after, .skill .container .language .w-33 .wrapper.p72 .fill, .skill .container .language .w-33 .wrapper.p72 .bar:after, .skill .container .language .w-33 .wrapper.p71 .fill, .skill .container .language .w-33 .wrapper.p71 .bar:after, .skill .container .language .w-33 .wrapper.p70 .fill, .skill .container .language .w-33 .wrapper.p70 .bar:after, .skill .container .language .w-33 .wrapper.p69 .fill, .skill .container .language .w-33 .wrapper.p69 .bar:after, .skill .container .language .w-33 .wrapper.p68 .fill, .skill .container .language .w-33 .wrapper.p68 .bar:after, .skill .container .language .w-33 .wrapper.p67 .fill, .skill .container .language .w-33 .wrapper.p67 .bar:after, .skill .container .language .w-33 .wrapper.p66 .fill, .skill .container .language .w-33 .wrapper.p66 .bar:after, .skill .container .language .w-33 .wrapper.p65 .fill, .skill .container .language .w-33 .wrapper.p65 .bar:after, .skill .container .language .w-33 .wrapper.p64 .fill, .skill .container .language .w-33 .wrapper.p64 .bar:after, .skill .container .language .w-33 .wrapper.p63 .fill, .skill .container .language .w-33 .wrapper.p63 .bar:after, .skill .container .language .w-33 .wrapper.p62 .fill, .skill .container .language .w-33 .wrapper.p62 .bar:after, .skill .container .language .w-33 .wrapper.p61 .fill, .skill .container .language .w-33 .wrapper.p61 .bar:after, .skill .container .language .w-33 .wrapper.p60 .fill, .skill .container .language .w-33 .wrapper.p60 .bar:after, .skill .container .language .w-33 .wrapper.p59 .fill, .skill .container .language .w-33 .wrapper.p59 .bar:after, .skill .container .language .w-33 .wrapper.p58 .fill, .skill .container .language .w-33 .wrapper.p58 .bar:after, .skill .container .language .w-33 .wrapper.p57 .fill, .skill .container .language .w-33 .wrapper.p57 .bar:after, .skill .container .language .w-33 .wrapper.p56 .fill, .skill .container .language .w-33 .wrapper.p56 .bar:after, .skill .container .language .w-33 .wrapper.p55 .fill, .skill .container .language .w-33 .wrapper.p55 .bar:after, .skill .container .language .w-33 .wrapper.p54 .fill, .skill .container .language .w-33 .wrapper.p54 .bar:after, .skill .container .language .w-33 .wrapper.p53 .fill, .skill .container .language .w-33 .wrapper.p53 .bar:after, .skill .container .language .w-33 .wrapper.p52 .fill, .skill .container .language .w-33 .wrapper.p52 .bar:after, .skill .container .language .w-33 .wrapper.p51 .fill, .skill .container .language .w-33 .wrapper.p51 .bar:after {
  transform: rotate(180deg);
}
.skill .container .language .w-33 .wrapper.p1 .bar {
  transform: rotate(3.6deg);
}
.skill .container .language .w-33 .wrapper.p2 .bar {
  transform: rotate(7.2deg);
}
.skill .container .language .w-33 .wrapper.p3 .bar {
  transform: rotate(10.8deg);
}
.skill .container .language .w-33 .wrapper.p4 .bar {
  transform: rotate(14.4deg);
}
.skill .container .language .w-33 .wrapper.p5 .bar {
  transform: rotate(18deg);
}
.skill .container .language .w-33 .wrapper.p6 .bar {
  transform: rotate(21.6deg);
}
.skill .container .language .w-33 .wrapper.p7 .bar {
  transform: rotate(25.2deg);
}
.skill .container .language .w-33 .wrapper.p8 .bar {
  transform: rotate(28.8deg);
}
.skill .container .language .w-33 .wrapper.p9 .bar {
  transform: rotate(32.4deg);
}
.skill .container .language .w-33 .wrapper.p10 .bar {
  transform: rotate(36deg);
}
.skill .container .language .w-33 .wrapper.p11 .bar {
  transform: rotate(39.6deg);
}
.skill .container .language .w-33 .wrapper.p12 .bar {
  transform: rotate(43.2deg);
}
.skill .container .language .w-33 .wrapper.p13 .bar {
  transform: rotate(46.8deg);
}
.skill .container .language .w-33 .wrapper.p14 .bar {
  transform: rotate(50.4deg);
}
.skill .container .language .w-33 .wrapper.p15 .bar {
  transform: rotate(54deg);
}
.skill .container .language .w-33 .wrapper.p16 .bar {
  transform: rotate(57.6deg);
}
.skill .container .language .w-33 .wrapper.p17 .bar {
  transform: rotate(61.2deg);
}
.skill .container .language .w-33 .wrapper.p18 .bar {
  transform: rotate(64.8deg);
}
.skill .container .language .w-33 .wrapper.p19 .bar {
  transform: rotate(68.4deg);
}
.skill .container .language .w-33 .wrapper.p20 .bar {
  transform: rotate(72deg);
}
.skill .container .language .w-33 .wrapper.p21 .bar {
  transform: rotate(75.6deg);
}
.skill .container .language .w-33 .wrapper.p22 .bar {
  transform: rotate(79.2deg);
}
.skill .container .language .w-33 .wrapper.p23 .bar {
  transform: rotate(82.8deg);
}
.skill .container .language .w-33 .wrapper.p24 .bar {
  transform: rotate(86.4deg);
}
.skill .container .language .w-33 .wrapper.p25 .bar {
  transform: rotate(90deg);
}
.skill .container .language .w-33 .wrapper.p26 .bar {
  transform: rotate(93.6deg);
}
.skill .container .language .w-33 .wrapper.p27 .bar {
  transform: rotate(97.2deg);
}
.skill .container .language .w-33 .wrapper.p28 .bar {
  transform: rotate(100.8deg);
}
.skill .container .language .w-33 .wrapper.p29 .bar {
  transform: rotate(104.4deg);
}
.skill .container .language .w-33 .wrapper.p30 .bar {
  transform: rotate(108deg);
}
.skill .container .language .w-33 .wrapper.p31 .bar {
  transform: rotate(111.6deg);
}
.skill .container .language .w-33 .wrapper.p32 .bar {
  transform: rotate(115.2deg);
}
.skill .container .language .w-33 .wrapper.p33 .bar {
  transform: rotate(118.8deg);
}
.skill .container .language .w-33 .wrapper.p34 .bar {
  transform: rotate(122.4deg);
}
.skill .container .language .w-33 .wrapper.p35 .bar {
  transform: rotate(126deg);
}
.skill .container .language .w-33 .wrapper.p36 .bar {
  transform: rotate(129.6deg);
}
.skill .container .language .w-33 .wrapper.p37 .bar {
  transform: rotate(133.2deg);
}
.skill .container .language .w-33 .wrapper.p38 .bar {
  transform: rotate(136.8deg);
}
.skill .container .language .w-33 .wrapper.p39 .bar {
  transform: rotate(140.4deg);
}
.skill .container .language .w-33 .wrapper.p40 .bar {
  transform: rotate(144deg);
}
.skill .container .language .w-33 .wrapper.p41 .bar {
  transform: rotate(147.6deg);
}
.skill .container .language .w-33 .wrapper.p42 .bar {
  transform: rotate(151.2deg);
}
.skill .container .language .w-33 .wrapper.p43 .bar {
  transform: rotate(154.8deg);
}
.skill .container .language .w-33 .wrapper.p44 .bar {
  transform: rotate(158.4deg);
}
.skill .container .language .w-33 .wrapper.p45 .bar {
  transform: rotate(162deg);
}
.skill .container .language .w-33 .wrapper.p46 .bar {
  transform: rotate(165.6deg);
}
.skill .container .language .w-33 .wrapper.p47 .bar {
  transform: rotate(169.2deg);
}
.skill .container .language .w-33 .wrapper.p48 .bar {
  transform: rotate(172.8deg);
}
.skill .container .language .w-33 .wrapper.p49 .bar {
  transform: rotate(176.4deg);
}
.skill .container .language .w-33 .wrapper.p50 .bar {
  transform: rotate(180deg);
}
.skill .container .language .w-33 .wrapper.p51 .bar {
  transform: rotate(183.6deg);
}
.skill .container .language .w-33 .wrapper.p52 .bar {
  transform: rotate(187.2deg);
}
.skill .container .language .w-33 .wrapper.p53 .bar {
  transform: rotate(190.8deg);
}
.skill .container .language .w-33 .wrapper.p54 .bar {
  transform: rotate(194.4deg);
}
.skill .container .language .w-33 .wrapper.p55 .bar {
  transform: rotate(198deg);
}
.skill .container .language .w-33 .wrapper.p56 .bar {
  transform: rotate(201.6deg);
}
.skill .container .language .w-33 .wrapper.p57 .bar {
  transform: rotate(205.2deg);
}
.skill .container .language .w-33 .wrapper.p58 .bar {
  transform: rotate(208.8deg);
}
.skill .container .language .w-33 .wrapper.p59 .bar {
  transform: rotate(212.4deg);
}
.skill .container .language .w-33 .wrapper.p60 .bar {
  transform: rotate(216deg);
}
.skill .container .language .w-33 .wrapper.p61 .bar {
  transform: rotate(219.6deg);
}
.skill .container .language .w-33 .wrapper.p62 .bar {
  transform: rotate(223.2deg);
}
.skill .container .language .w-33 .wrapper.p63 .bar {
  transform: rotate(226.8deg);
}
.skill .container .language .w-33 .wrapper.p64 .bar {
  transform: rotate(230.4deg);
}
.skill .container .language .w-33 .wrapper.p65 .bar {
  transform: rotate(234deg);
}
.skill .container .language .w-33 .wrapper.p66 .bar {
  transform: rotate(237.6deg);
}
.skill .container .language .w-33 .wrapper.p67 .bar {
  transform: rotate(241.2deg);
}
.skill .container .language .w-33 .wrapper.p68 .bar {
  transform: rotate(244.8deg);
}
.skill .container .language .w-33 .wrapper.p69 .bar {
  transform: rotate(248.4deg);
}
.skill .container .language .w-33 .wrapper.p70 .bar {
  transform: rotate(252deg);
}
.skill .container .language .w-33 .wrapper.p71 .bar {
  transform: rotate(255.6deg);
}
.skill .container .language .w-33 .wrapper.p72 .bar {
  transform: rotate(259.2deg);
}
.skill .container .language .w-33 .wrapper.p73 .bar {
  transform: rotate(262.8deg);
}
.skill .container .language .w-33 .wrapper.p74 .bar {
  transform: rotate(266.4deg);
}
.skill .container .language .w-33 .wrapper.p75 .bar {
  transform: rotate(270deg);
}
.skill .container .language .w-33 .wrapper.p76 .bar {
  transform: rotate(273.6deg);
}
.skill .container .language .w-33 .wrapper.p77 .bar {
  transform: rotate(277.2deg);
}
.skill .container .language .w-33 .wrapper.p78 .bar {
  transform: rotate(280.8deg);
}
.skill .container .language .w-33 .wrapper.p79 .bar {
  transform: rotate(284.4deg);
}
.skill .container .language .w-33 .wrapper.p80 .bar {
  transform: rotate(288deg);
}
.skill .container .language .w-33 .wrapper.p81 .bar {
  transform: rotate(291.6deg);
}
.skill .container .language .w-33 .wrapper.p82 .bar {
  transform: rotate(295.2deg);
}
.skill .container .language .w-33 .wrapper.p83 .bar {
  transform: rotate(298.8deg);
}
.skill .container .language .w-33 .wrapper.p84 .bar {
  transform: rotate(302.4deg);
}
.skill .container .language .w-33 .wrapper.p85 .bar {
  transform: rotate(306deg);
}
.skill .container .language .w-33 .wrapper.p86 .bar {
  transform: rotate(309.6deg);
}
.skill .container .language .w-33 .wrapper.p87 .bar {
  transform: rotate(313.2deg);
}
.skill .container .language .w-33 .wrapper.p88 .bar {
  transform: rotate(316.8deg);
}
.skill .container .language .w-33 .wrapper.p89 .bar {
  transform: rotate(320.4deg);
}
.skill .container .language .w-33 .wrapper.p90 .bar {
  transform: rotate(324deg);
}
.skill .container .language .w-33 .wrapper.p91 .bar {
  transform: rotate(327.6deg);
}
.skill .container .language .w-33 .wrapper.p92 .bar {
  transform: rotate(331.2deg);
}
.skill .container .language .w-33 .wrapper.p93 .bar {
  transform: rotate(334.8deg);
}
.skill .container .language .w-33 .wrapper.p94 .bar {
  transform: rotate(338.4deg);
}
.skill .container .language .w-33 .wrapper.p95 .bar {
  transform: rotate(342deg);
}
.skill .container .language .w-33 .wrapper.p96 .bar {
  transform: rotate(345.6deg);
}
.skill .container .language .w-33 .wrapper.p97 .bar {
  transform: rotate(349.2deg);
}
.skill .container .language .w-33 .wrapper.p98 .bar {
  transform: rotate(352.8deg);
}
.skill .container .language .w-33 .wrapper.p99 .bar {
  transform: rotate(356.4deg);
}
.skill .container .language .w-33 .wrapper.p100 .bar {
  transform: rotate(360deg);
}
.skill .container .language .w-33 .title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  width: 200px;
  line-height: 26px;
  margin-bottom: 0;
  text-align: center;
  color: #232323;
}

.footer {
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.footer .top {
  background-color: #232323;
  padding: 48px 0;
  display: flex;
  justify-content: center;
}
.footer .top .container {
  padding: 15px 0;
  margin: auto 0;
}
.footer .top .container .social-icons {
  margin-bottom: 24px;
}
.footer .top .container .social-icons__icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  color: #232323;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.13);
  margin: 0 4px;
  text-align: center;
}
.footer .bottom {
  background-color: #1c1c1c;
  line-height: 50px;
}
.footer h4, .footer p {
  margin-bottom: 24px;
}
.footer h4 {
  text-transform: uppercase;
}

a {
  color: #232323;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: #232323;
  margin-bottom: 36px;
}

p {
  margin-bottom: 24px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

@media all and (max-width: 1024px) {
  .header {
    padding: 0 12px;
  }

  .nav-main {
    display: none;
  }

  .header__btn-menu {
    display: inline-block;
  }

  .header__btn-action {
    right: 12px;
  }
}
@media all and (max-width: 768px) {
  .section .container .education {
    position: relative;
    padding: 0;
    margin: 18px 0;
    margin-bottom: 42px;
  }
  .section .container .education .info-degree {
    width: 100%;
    float: none;
    margin-bottom: 24px;
  }
  .section .container .education .info-degree .marker {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: -11px;
    margin-top: -27px;
  }
  .section .container .education .info-degree .card {
    padding: 24px;
    position: static;
    margin: 0;
    margin-left: 36px;
  }
  .section .container .education .info-degree .card::after {
    border-width: 18px 0 0 18px;
    border-color: transparent transparent transparent #fff;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.15);
    bottom: auto;
    left: 36px;
    top: 50%;
    margin-top: -25px;
    transform: rotate(45deg);
  }
  .section .container .education .info-degree .year {
    position: static;
    margin: 0 auto;
    padding-left: 36px;
    margin-top: 6px;
  }
  .section .container .education .info-degree:nth-child(even) {
    width: 100%;
    float: none;
    margin-bottom: 24px;
  }
  .section .container .education .info-degree:nth-child(even) .marker {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: -11px;
    margin-top: -27px;
  }
  .section .container .education .info-degree:nth-child(even) .card {
    padding: 24px;
    position: static;
    margin: 0;
    margin-left: 36px;
  }
  .section .container .education .info-degree:nth-child(even) .card::before {
    border-width: 18px 0 0 18px;
    border-color: transparent transparent transparent #fff;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.15);
    bottom: auto;
    left: 36px;
    top: 50%;
    margin-top: -25px;
    transform: rotate(45deg);
  }
  .section .container .education .info-degree:nth-child(even) .year {
    position: static;
    margin: 0 auto;
    padding-left: 36px;
    margin-top: 6px;
  }
  .section .container .education .time-line {
    border-bottom: none;
    border-left: 1px dashed #232323;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    margin: 0;
    padding: 0;
  }
  .section .container .education .time-line::before {
    top: -18px;
    bottom: -7px;
    left: -7px;
  }
  .section .container .education .time-line::after {
    right: auto;
    bottom: -18px;
    left: -7px;
  }

  .section .container .hobbies .icon-box {
    width: 50%;
  }

  .skill .container .technical {
    width: 100%;
  }

  .skill .container .knowledge {
    width: 100%;
  }

  .skill .container .language {
    flex-wrap: wrap;
  }
  .skill .container .language .w-33 {
    width: 100%;
  }
}
@media all and (max-width: 432px) {
  .skill .container .knowledge .cell {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
